$headers: ':is(h1, h2, h3, h4, h5, h6)';

.searchResultItem {
  @apply mb-12 p-4;
}

.searchResultItemPreview {
  @apply mt-6 max-h-96 overflow-hidden;
  #{$headers} {
    font-size: 1.5rem;
  }
}