@tailwind base;
@tailwind components;
@tailwind utilities;

$headers: ':is(h1, h2, h3, h4, h5, h6)';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  @apply text-blue-500 hover:text-blue-600 dark:hover:text-blue-400;
}

body {
  font-family: 'Noto Sans';
}

h1 {
  @apply text-3xl;
}
h2 {
  @apply text-xl;
}

h1,
h2 {
  font-family: 'Quicksand';
}

h3,
h4,
h5,
h6 {
  @apply text-lg;
  font-family: 'Mate';
}

p {
  em {
    @apply font-medium dark:text-cyan-400;
  }

  strong {
    @apply font-semibold dark:text-yellow-400;
  }
}

.link-active {
  pointer-events: none;
  @apply text-yellow-600;
}

.link-disabled {
  pointer-events: none;
  @apply text-opacity-50;
}

@import 'main.scss';
@import 'post-list.scss';
@import 'paginator.scss';
@import 'highlight.scss';
