main {
  @apply overflow-auto break-normal p-1;

  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }

  a {
    @apply break-words;
  }

  #{$headers} {
    @apply my-4 mb-2 text-gray-600 dark:text-yellow-200;
  }

  #{$headers} > code {
    @apply mx-1 rounded-sm bg-gray-300 py-1 px-2 font-mono text-base font-normal text-yellow-700 dark:bg-gray-700 dark:text-blue-50;
  }

  #{$headers} > a {
    @apply text-gray-600 dark:text-yellow-100;
  }

  #{$headers} > a > .icon {
    @apply mx-2 text-blue-500 hover:text-blue-600 dark:text-blue-400 dark:hover:text-blue-300;
  }

  li {
    @apply my-2 break-words;
  }

  ol {
    @apply my-1 mb-2 list-decimal;

    li {
      @apply ml-6 mr-4;
    }

    li p {
      @apply inline;
    }
  }

  ul {
    @apply my-1 mb-2 list-none;

    li:before {
      content: '-';
      @apply ml-6 mr-4;
    }

    li p {
      @apply inline;
    }

    li ul {
      @apply ml-6;
    }
  }

  :is(p, li) code {
    @apply mx-1 rounded-sm bg-gray-300 py-[2px] px-2 text-sm font-thin text-yellow-700 dark:bg-gray-800 dark:text-blue-200;
  }

  > code {
    @apply rounded-xl py-2 px-4 text-sm dark:bg-gray-700;
  }

  > pre {
    @apply mt-4 mb-6 overflow-x-auto whitespace-pre rounded-xl bg-gray-700 p-4 text-sm text-gray-200 dark:bg-gray-800;
  }

  pre > code.hljs {
    @apply bg-gray-700 dark:bg-gray-800;
  }

  pre > code {
    padding: unset;
    background-color: unset;
  }

  table {
    @apply mt-2 mb-4 table-auto;

    thead {
      @apply py-4;
    }

    tr {
      @apply my-4 border-gray-300 hover:bg-blue-200 dark:border-gray-500 dark:hover:bg-gray-800;

      th {
        @apply border-x-[1px] border-t-[1px] border-gray-400 px-2 dark:border-gray-300;
      }

      td {
        @apply border-x-[1px] px-2;
      }
    }

    tr:nth-child(even) {
      @apply my-4 border-gray-200 bg-gray-200 px-2 hover:bg-blue-200 dark:bg-gray-600 dark:hover:bg-gray-800;
    }

    tr:last-child {
      @apply border-b-[1px] border-gray-300 dark:border-gray-500;
    }
  }
}
