.paginator {
  @apply flex items-center justify-center overflow-auto;
}

.paginator-link {
  @apply inline-block h-10 min-w-[2rem] border-[1px] border-gray-400 bg-gray-200 px-2 text-center align-middle text-[18px] leading-10 dark:border-gray-500 dark:bg-gray-700;
}

.paginator-btn {
  @apply flex h-10 w-[2rem] items-center justify-center border-[1px] border-gray-400 bg-gray-200 px-2 dark:border-gray-500 dark:bg-gray-700;
}

.paginator-btn svg {
  height: 20px;
}
