.postList {
  ul {
    @apply my-1 mb-2 list-none;

    li:before {
      content: none;
      @apply ml-6 mr-4;
    }

    li p {
      @apply inline;
    }

    li ul {
      @apply ml-6;
    }
  }

  a > #{$headers} {
    @apply font-normal;
  }

  .postExcerpt {
    @apply mt-6 overflow-hidden break-normal p-1;

    a {
      @apply break-words;
    }

    #{$headers} {
      font-size: 1.3em;
      @apply text-cyan-700 dark:text-cyan-300;
    }

    :is(p, li) code {
      @apply mx-1 rounded-sm bg-gray-300 py-[2px] px-2 text-sm font-thin text-yellow-700 dark:bg-gray-800 dark:text-blue-200;
    }

    li {
      @apply break-words;
    }

    > code {
      @apply rounded-xl py-2 px-4 text-sm dark:bg-gray-700;
    }

    > pre {
      @apply mt-4 mb-6 overflow-x-auto whitespace-pre rounded-xl bg-gray-700 p-4 text-sm text-gray-200 dark:bg-gray-800;
    }

    pre > code.hljs {
      @apply bg-gray-700 dark:bg-gray-800;
    }

    pre > code {
      padding: unset;
      background-color: unset;
    }
  }
}
